/**==========BODY==========**/
.body-website {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
}
/**====================**/



/**==========HEADER==========**/
.header {
    border-bottom: 1px solid #e7e9fc
}
.header-conteiner {
    display: flex;
    align-items: center;
}


.logo {
    color: #4d5ae5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    align-items: center;
}
.logo-studio {
    color: #2E2F42;
}

.header-titel {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu-soc-list {
    display: flex;
    gap: 40px;
}

.header-list {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}
.header .header-titel .menu a:hover {
    color: #404bbf
}
.header .header-titel .menu a:focus {
    color: #404bbf
}
.address-header {
    font-style: normal
}
.list-menu {

}
.header-address {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.address-header a:hover {
    color: #404bbf
}
.address-header a:focus {
    color: #404bbf
}
/**====================**/


/**==========MAIN-1==========**/
.main-titel {
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-effective {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
}
/**background: var(--IRIS, #4D5AE5);**/
.main-btm {
    min-width: 169px;
    display: block;
    color: #ffffff;
    background: var(--IRIS, #4D5AE5);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    align-items: center;
    margin: 0 auto;
    margin-top: 48px;
}
.main-titel button:hover {
    background-color: #404BBF
}
.main-titel button:focus {
    background-color: #404BBF
}

/**====================**/

/**==========MAIN-2==========**/

.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hard-worker {
    display: flex;
    gap: 24px;
}
.advantages-list-title {
    width: calc((100% - 72px)/4);
}

.list-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}
.list-paragraph {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

/**====================**/

/**==========MAIN-3==========**/
.our-team-title {
    background: var(--CLOUD, #F4F4FD);
    padding-top: 120px;
    padding-bottom: 120px;
}
.main-team {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.programing-team {
    display: flex;
    gap: 24px;
}
.team-group {
    background: var(--WHITE, #FFF);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.group-programmers {
    display: block;
}
.name-programist {
    padding-top: 32px;
    padding-bottom: 32px;
}
.list-title-team {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}
.list-programing-work {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}






/**====================**/






/**==========MAIN4==========**/
.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list-app {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px ;
}
.portfolio-list-program {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.program-app-marketing {
    display: block;
}
.list-title-portfolio {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}
.list-paragraph-portfolio {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/**====================**/






/**==========FOOTER==========**/
.footer-flow {
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 100px;
    padding-bottom: 100px
}
.logo-footer {
    color: #4d5ae5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}
.header-titel-type {
    color: var(--IRIS, #4D5AE5);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-titel-type {
    color: var(--CLOUD, #F4F4FD);
}
.footer-paragraph {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}


/**====================**/